# Data Transformation from parquet

## 1. Import libraries

In [350]:
import pandas as pd

In [351]:
from pandas.api.types import CategoricalDtype

In [352]:
from datetime import datetime

## 2 Obtain the data in pickle

In [439]:
!#curl -O https://raw.githubusercontent.com/hkkenneth/covid-19-hk-data-extraction/master/raw-old-en.parquet

In [440]:
!#curl -O https://raw.githubusercontent.com/hkkenneth/covid-19-hk-data-extraction/master/raw-new-en.parquet

In [441]:
!#curl -O https://raw.githubusercontent.com/hkkenneth/covid-19-hk-data-extraction/master/raw-mode-en.parquet

In [442]:
!#curl -O https://raw.githubusercontent.com/hkkenneth/covid-19-hk-data-extraction/master/raw-cluster-en.parquet

In [357]:
!ls -lah raw*

-rw-r--r-- 1 root root 8.3K Aug 16 08:14 raw-cluster-en.parquet
-rw-r--r-- 1 root root 3.1K Aug 16 08:14 raw-mode-en.parquet
-rw-r--r-- 1 root root 7.5K Aug 16 08:14 raw-new-en.parquet
-rw-r--r-- 1 root root  46K Aug 16 08:13 raw-old-en.parquet

In [358]:
hk_situation_en_old_df = pd.read_parquet('raw-old-en.parquet')

In [359]:
hk_situation_en_new_df = pd.read_parquet('raw-new-en.parquet')

In [360]:
hk_situation_en_cluster_df = pd.read_parquet('raw-cluster-en.parquet')

In [361]:
hk_situation_en_mode_df = pd.read_parquet('raw-mode-en.parquet')

## 3. Sanity check

In [362]:
type(hk_situation_en_new_df)

pandas.core.frame.DataFrame

In [363]:
hk_situation_en_new_df.shape

(48, 8)

In [364]:
hk_situation_en_new_df.head()

   Case no.  ... Confirmed/probable
0      4314  ...          Confirmed
1      4315  ...          Confirmed
2      4316  ...          Confirmed
3      4317  ...          Confirmed
4      4318  ...          Confirmed

[5 rows x 8 columns]

In [365]:
hk_situation_en_old_df.head()

   Case no. Report date  ... Case classification Confirmed/probable
0         1  23/01/2020  ...                   I          Confirmed
1         2  23/01/2020  ...                   I          Confirmed
2         3  24/01/2020  ...                   I          Confirmed
3         4  24/01/2020  ...                   I          Confirmed
4         5  24/01/2020  ...                   I          Confirmed

[5 rows x 9 columns]

In [366]:
hk_situation_en_cluster_df.head()

                                             Cluster  ... Number of cases
0                       Diamond Princess Cruise Ship  ...              11
1               Hotpot dinner gathering at Kwun Tong  ...              13
2  Fook Wai Ching Che in Maylun\rApartments in No...  ...              19
3  Travel tour to Egypt / Heng Tai House\rof Fu H...  ...              10
4                               Bar and band cluster  ...             103

[5 rows x 3 columns]

In [367]:
hk_situation_en_mode_df.head()

                                            Category Number of cases (percentage)
0  (1) Cases fulfilling the reporting criteria of...                   336 (7.7%)
1  (2) Enhanced laboratory surveillance in public...                  490 (11.2%)
2  (3) Enhanced surveillance at Accident and Emer...                 1289 (29.6%)
3  (4) Diagnosis / Enhanced surveillance in priva...                  624 (14.3%)
4  (5) Medical surveillance / contact tracing by ...                  952 (21.8%)

## 4. Check & Unify Values

### 4.1 Resident Status

In [368]:
resident_mapping_casefold = {
  'hk resident': 'HK resident',
  'non-hk resident': 'Non-HK resident',
  'unknown': 'Unknown'
}

In [369]:
resident_type = CategoricalDtype(categories=[
                                             'HK resident',
                                             'Non-HK resident',
                                             'Unknown'
], ordered=True)

In [370]:
hk_situation_en_new_df['HK/Non-HK resident'].value_counts()

HK Resident    47
Unknown         1
Name: HK/Non-HK resident, dtype: int64

Ref: [Use casefold](https://stackoverflow.com/a/31599276)

In [371]:
hk_situation_en_new_df['HK/Non-HK resident'] = hk_situation_en_new_df['HK/Non-HK resident'].apply(str.casefold).map(resident_mapping_casefold).astype(resident_type)

In [372]:
hk_situation_en_new_df['HK/Non-HK resident'].value_counts()

HK resident        47
Unknown             1
Non-HK resident     0
Name: HK/Non-HK resident, dtype: int64

In [373]:
hk_situation_en_old_df['HK/Non-HK resident'].value_counts()

HK Resident        2817
HK resident        1377
Unknown              98
Non-HK resident      20
Non-HK Resident       1
Name: HK/Non-HK resident, dtype: int64

In [374]:
hk_situation_en_old_df['HK/Non-HK resident'] = hk_situation_en_old_df['HK/Non-HK resident'].apply(str.casefold).map(resident_mapping_casefold).astype(resident_type)

In [375]:
hk_situation_en_old_df['HK/Non-HK resident'].value_counts()

HK resident        4194
Unknown              98
Non-HK resident      21
Name: HK/Non-HK resident, dtype: int64

### 4.2 Case Classification

In [376]:
classification_mapping = {
  'i': 'Imported case',
  'l': 'Local case',
  'pl': 'Possibly local case',
  'epi-i': 'Epidemiologically linked with imported case',
  'epi-l': 'Epidemiologically linked with local case',
  'epi-pl': 'Epidemiologically linked with possibly local case'
}

classification_mapping_casefold = {
  'imported case': 'Imported case',
  'local case': 'Local case',
  'possibly local case': 'Possibly local case',
  'epidemiologically linked with imported case': 'Epidemiologically linked with imported case',
  'epidemiologically linked with local case': 'Epidemiologically linked with local case',
  'epidemiologically linked with possibly local case': 'Epidemiologically linked with possibly local case'
}

In [377]:
classification_type = CategoricalDtype(categories=[
                                                   'Local case',
                                                   'Possibly local case',
                                                   'Imported case',
                                                   'Epidemiologically linked with local case',
                                                   'Epidemiologically linked with possibly local case',
                                                   'Epidemiologically linked with imported case'
], ordered=True)

In [378]:
hk_situation_en_new_df['Case classification'] = hk_situation_en_new_df['Case classification'].apply(str.casefold).map(classification_mapping_casefold).fillna(hk_situation_en_new_df['Case classification'])

In [379]:
hk_situation_en_new_df['Case classification'].value_counts()

Epidemiologically linked with local case    35
Local case                                  11
Imported case                                2
Name: Case classification, dtype: int64

Ref: [map can be much faster than replace](https://stackoverflow.com/a/41678874)

In [380]:
hk_situation_en_old_df['Case classification'] = hk_situation_en_old_df['Case classification'].apply(str.casefold).map(classification_mapping).fillna(hk_situation_en_old_df['Case classification'])

In [381]:
hk_situation_en_old_df['Case classification'].value_counts()

Epidemiologically linked with local case             1844
Local case                                           1189
Imported case                                        1084
Possibly local case                                   103
Epidemiologically linked with possibly local case      62
Epidemiologically linked with imported case            31
Name: Case classification, dtype: int64

In [382]:
hk_situation_en_old_df['Case classification'] = hk_situation_en_old_df['Case classification'].astype(classification_type)

In [383]:
hk_situation_en_new_df['Case classification'] = hk_situation_en_new_df['Case classification'].astype(classification_type)

### 4.3 Gender

In [384]:
gender_mapping_casefold = {
  'f': 'Female',
  'm': 'Male',
  'unknown': 'Unknown'
}

In [385]:
gender_type = CategoricalDtype(categories=[
                                           'Female',
                                           'Male',
                                           'Unknown'
], ordered=True)

In [386]:
hk_situation_en_old_df['Gender'] = hk_situation_en_old_df['Gender'].apply(str.casefold).map(gender_mapping_casefold).astype(gender_type)

In [387]:
hk_situation_en_new_df['Gender'] = hk_situation_en_new_df['Gender'].apply(str.casefold).map(gender_mapping_casefold).astype(gender_type)

In [388]:
hk_situation_en_old_df['Gender'].value_counts()

Female     2171
Male       2142
Unknown       0
Name: Gender, dtype: int64

In [389]:
hk_situation_en_new_df['Gender'].value_counts()

Male       24
Female     24
Unknown     0
Name: Gender, dtype: int64

### 4.4 Age

In [390]:
hk_situation_en_old_df['Age'] = hk_situation_en_old_df['Age'].apply(lambda a: (float(a.split('\r')[0]) / 12.0) if '\rmonth' in a else a)

In [391]:
hk_situation_en_old_df['Age'] = pd.to_numeric(hk_situation_en_old_df['Age'], errors='coerce')

In [392]:
hk_situation_en_new_df['Age'] = hk_situation_en_new_df['Age'].apply(lambda a: (float(a.split('\r')[0]) / 12.0) if '\rmonth' in a else a)

In [393]:
hk_situation_en_new_df['Age'] = pd.to_numeric(hk_situation_en_new_df['Age'], errors='coerce')

### 4.5 Hospitalised / Discharged / Deceased Status

In [394]:
status_mapping_casefold = {
  'deceased': 'Deceased',
  'discharged': 'Discharged',
  'hospitalised': 'Hospitalised',
  'new': 'New',
  'no admission': 'No admission'
}

In [395]:
status_type = CategoricalDtype(categories=[
                                           'Hospitalised',
                                           'Discharged',
                                           'Deceased',
                                           'New',
                                           'No admission'
], ordered=True)

In [396]:
hk_situation_en_old_df['Hospitalised/Discharged/Deceased'].value_counts()

Discharged      3392
Hospitalised     829
Deceased          66
No admission      26
Name: Hospitalised/Discharged/Deceased, dtype: int64

In [397]:
hk_situation_en_old_df['Hospitalised/Discharged/Deceased'] = hk_situation_en_old_df['Hospitalised/Discharged/Deceased'].apply(str.casefold).map(status_mapping_casefold).astype(status_type)

In [398]:
hk_situation_en_old_df['Hospitalised/Discharged/Deceased'].value_counts()

Discharged      3392
Hospitalised     829
Deceased          66
No admission      26
New                0
Name: Hospitalised/Discharged/Deceased, dtype: int64

### 4.6 Confirmed / probable status

In [399]:
confirmation_status_mapping_casefold = {
  'confirmed': 'Confirmed',
  'probable': 'Probable'
}

In [400]:
confirmation_status_type = CategoricalDtype(categories=[
                                           'Confirmed',
                                           'Probable'
], ordered=True)

In [401]:
hk_situation_en_old_df['Confirmed/probable'] = hk_situation_en_old_df['Confirmed/probable'].apply(str.casefold).map(confirmation_status_mapping_casefold).astype(confirmation_status_type)

In [402]:
hk_situation_en_old_df['Confirmed/probable'].value_counts()

Confirmed    4312
Probable        1
Name: Confirmed/probable, dtype: int64

In [403]:
hk_situation_en_new_df['Confirmed/probable'] = hk_situation_en_new_df['Confirmed/probable'].apply(str.casefold).map(confirmation_status_mapping_casefold).astype(confirmation_status_type)

In [404]:
hk_situation_en_new_df['Confirmed/probable'].value_counts()

Confirmed    48
Probable      0
Name: Confirmed/probable, dtype: int64

### 4.7 Report date

In [405]:
hk_situation_en_new_df['Report date'] = pd.to_datetime(hk_situation_en_new_df['Report date'], format='%d/%m/%Y')

In [406]:
# Did not use
# hk_situation_en_new_df['Report date'] = hk_situation_en_new_df['Report date'].apply(lambda d: datetime.strptime(d, '%d/%m/%Y').date()).

In [407]:
hk_situation_en_old_df['Report date'] = pd.to_datetime(hk_situation_en_old_df['Report date'], format='%d/%m/%Y')

### 4.8 Onset Date

Check what we may see

In [408]:
hk_situation_en_new_df['Date of onset'].value_counts()

Asymptomatic       24
11/08/2020          7
12/08/2020          3
07/08/2020          3
10/08/2020          2
08/08/2020          2
09/08/2020          1
30/07/2020          1
Mid- July, 2020     1
03/08/2020          1
06/08/2020          1
04/08/2020          1
31/07/2020          1
Name: Date of onset, dtype: int64

In [409]:
hk_situation_en_old_df['Date of onset'].value_counts()

Asymptomatic    915
27/07/2020      131
25/07/2020      118
24/07/2020      109
21/07/2020      106
               ...
26/05/2020        1
January           1
05/03/2020        1
11/05/2020        1
15/04/2020        1
Name: Date of onset, Length: 168, dtype: int64

In [410]:
hk_situation_en_new_df['Date of onset original'] = hk_situation_en_new_df['Date of onset'].astype(str)

In [411]:
hk_situation_en_old_df['Date of onset original'] = hk_situation_en_old_df['Date of onset'].astype(str)

In [412]:
hk_situation_en_new_df['Date of onset'] = pd.to_datetime(hk_situation_en_new_df['Date of onset original'], format='%d/%m/%Y', errors='coerce')

In [413]:
hk_situation_en_old_df['Date of onset'] = pd.to_datetime(hk_situation_en_old_df['Date of onset original'], format='%d/%m/%Y', errors='coerce')

In [414]:
hk_situation_en_new_df['Date of onset']

0           NaT
1           NaT
2    2020-08-03
3           NaT
4    2020-07-31
5    2020-08-11
6           NaT
7           NaT
8           NaT
9           NaT
10          NaT
11          NaT
12          NaT
13   2020-08-07
14   2020-08-11
15   2020-08-06
0    2020-08-10
1    2020-08-08
2    2020-08-11
3    2020-08-12
4    2020-08-11
5           NaT
6    2020-08-07
7    2020-08-04
8    2020-08-11
9    2020-08-09
10          NaT
11   2020-08-07
12          NaT
13          NaT
14   2020-08-12
15   2020-08-11
16          NaT
17   2020-08-12
18          NaT
19          NaT
20          NaT
21          NaT
22   2020-08-10
0           NaT
1           NaT
2           NaT
3           NaT
4    2020-07-30
5    2020-08-08
6    2020-08-11
7           NaT
8           NaT
Name: Date of onset, dtype: datetime64[ns]

TODO: for Asymptomatic, a flag should be added to data engineering stage

TODO: for other malformatted date, should use a flag to indicate and manually fix with code (reproducible)

In [415]:
hk_situation_en_new_df['Date of onset original']

0        Asymptomatic
1        Asymptomatic
2          03/08/2020
3        Asymptomatic
4          31/07/2020
5          11/08/2020
6        Asymptomatic
7        Asymptomatic
8        Asymptomatic
9        Asymptomatic
10       Asymptomatic
11       Asymptomatic
12       Asymptomatic
13         07/08/2020
14         11/08/2020
15         06/08/2020
0          10/08/2020
1          08/08/2020
2          11/08/2020
3          12/08/2020
4          11/08/2020
5     Mid- July, 2020
6          07/08/2020
7          04/08/2020
8          11/08/2020
9          09/08/2020
10       Asymptomatic
11         07/08/2020
12       Asymptomatic
13       Asymptomatic
14         12/08/2020
15         11/08/2020
16       Asymptomatic
17         12/08/2020
18       Asymptomatic
19       Asymptomatic
20       Asymptomatic
21       Asymptomatic
22         10/08/2020
0        Asymptomatic
1        Asymptomatic
2        Asymptomatic
3        Asymptomatic
4          30/07/2020
5          08/08/2020
6          11/08/2020
7        Asymptomatic
8        Asymptomatic
Name: Date of onset original, dtype: object

In [416]:
hk_situation_en_new_df['Date of onset original'][hk_situation_en_new_df['Date of onset'].isnull()]

0        Asymptomatic
1        Asymptomatic
3        Asymptomatic
6        Asymptomatic
7        Asymptomatic
8        Asymptomatic
9        Asymptomatic
10       Asymptomatic
11       Asymptomatic
12       Asymptomatic
5     Mid- July, 2020
10       Asymptomatic
12       Asymptomatic
13       Asymptomatic
16       Asymptomatic
18       Asymptomatic
19       Asymptomatic
20       Asymptomatic
21       Asymptomatic
0        Asymptomatic
1        Asymptomatic
2        Asymptomatic
3        Asymptomatic
7        Asymptomatic
8        Asymptomatic
Name: Date of onset original, dtype: object

TODO fix the index

In [417]:
hk_situation_en_old_df['Date of onset original'][hk_situation_en_old_df['Date of onset'].isnull()].value_counts()

Asymptomatic    915
Pending          59
Unknown          23
January           1
Mid-March         1
Name: Date of onset original, dtype: int64

In [418]:
hk_situation_en_new_df.dtypes

Case no.                           int64
Report date               datetime64[ns]
Date of onset             datetime64[ns]
Gender                          category
Age                                int64
HK/Non-HK resident              category
Case classification             category
Confirmed/probable              category
Date of onset original            object
dtype: object

In [419]:
hk_situation_en_new_df.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,  0,
             1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 22,  0,  1,  2,  3,  4,  5,  6,  7,  8],
           dtype='int64')

In [420]:
hk_situation_en_new_df = hk_situation_en_new_df.reset_index(drop=True)

In [421]:
hk_situation_en_new_df.index

RangeIndex(start=0, stop=48, step=1)

In [422]:
hk_situation_en_old_df = hk_situation_en_old_df.reset_index(drop=True)

In [423]:
hk_situation_en_old_df.index

RangeIndex(start=0, stop=4313, step=1)

## 5. Merge new and old

In [424]:
hk_situation_en_old_df.columns

Index(['Case no.', 'Report date', 'Date of onset', 'Gender', 'Age',
       'Hospitalised/Discharged/Deceased', 'HK/Non-HK resident',
       'Case classification', 'Confirmed/probable', 'Date of onset original'],
      dtype='object')

In [425]:
hk_situation_en_new_df.columns

Index(['Case no.', 'Report date', 'Date of onset', 'Gender', 'Age',
       'HK/Non-HK resident', 'Case classification', 'Confirmed/probable',
       'Date of onset original'],
      dtype='object')

In [426]:
human_merged_name = ['Case no.', 'Report date', 'Date of onset', 'Gender', 'Age', 'Status', 'Resident status', 'Case classification', 'Confirmation status', 'Date of onset original']

In [427]:
# Ref: https://stackoverflow.com/a/44296858
columns_rename_dict = dict(zip(hk_situation_en_old_df.columns, human_merged_name))
hk_situation_en_old_df = hk_situation_en_old_df.rename(columns=columns_rename_dict)

In [428]:
hk_situation_en_old_df.dtypes

Case no.                           int64
Report date               datetime64[ns]
Date of onset             datetime64[ns]
Gender                          category
Age                              float64
Status                          category
Resident status                 category
Case classification             category
Confirmation status             category
Date of onset original            object
dtype: object

In [429]:
hk_situation_en_new_df = hk_situation_en_new_df.rename(columns=columns_rename_dict)

In [430]:
hk_situation_en_new_df['Status'] = 'New'

In [431]:
hk_situation_en_new_df['Status'] = hk_situation_en_new_df['Status'].astype(status_type)

In [432]:
hk_situation_en_new_df['Status'].value_counts()

New             48
No admission     0
Deceased         0
Discharged       0
Hospitalised     0
Name: Status, dtype: int64

In [433]:
hk_situation_en_merged_df = pd.concat([hk_situation_en_old_df, hk_situation_en_new_df])

In [434]:
hk_situation_en_merged_df.dtypes

Case no.                           int64
Report date               datetime64[ns]
Date of onset             datetime64[ns]
Gender                          category
Age                              float64
Status                          category
Resident status                 category
Case classification             category
Confirmation status             category
Date of onset original            object
dtype: object

In [435]:
hk_situation_en_merged_df['Status'].value_counts()

Discharged      3392
Hospitalised     829
Deceased          66
New               48
No admission      26
Name: Status, dtype: int64

## 6. Export to parquet

In [436]:
hk_situation_en_new_df.to_parquet('transformed-new-en.parquet')

In [437]:
hk_situation_en_old_df.to_parquet('transformed-old-en.parquet')

In [438]:
hk_situation_en_merged_df.to_parquet('transformed-merged-en.parquet')